body {
  background-color: #ddb892;
  text-align: center;
}

#input-txt {
  display: block;
  height: 20vh;
  width: 90%;
  margin: auto;
}

#translate-btn {
  margin: 2rem 0;
  height: 2rem;
  background-color: #7f5539;
  color: white;
  border-radius: 0.5rem;
  border: 1px solid black;
  align-items: center;
}

#output-txt {
  height: 20vh;
  width: 90%;
  border: 1px solid #767676;
  margin: auto;
  background-color: white;
}

#translate-btn:hover {
  border: none;
  font-weight: bold;
  background-color: #9c6644;
}
